
header {
	text-align: center;
	background: #1d1d1d;
	color: white;
	padding-bottom: 0px;
}

body {
	font-family: 'Roboto', sans-serif;
	background: #f4f7f6;
	margin: 0;
	 
}

section {
	text-align: center;
	margin-top: 50px;
}

nav {
	backgroundLLOL: white;
	box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0,5);
	font-size: 1.5em;
	text-align: center;
	padding: 15px;
}


h1 {
	font-family: 'Pacifico', cursive;
	padding-bottom: 0px;
	padding-top: 7px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 2.5em;
}

h2 {
	font-family: 'Charm', cursive;
	font-size: 2em;
	width: 400px;
	margin: auto;
}

h3:before {
	content: "« ";
	color: grey;
}

h3 {
	font-size: 1.5em;
}

h3:after {
	content: " »";
	color: grey;
}


li {
	list-style: lower-roman;
	display: inline;
	margin: 10px;
}
li:hover {
	font-weight: bold;
}


a {
	text-decoration: none;
}

ul {
	padding: 0;
	display: inline;
}

footer {
	background: #1d1d1d;
	color: white;
	text-align: center;
	padding: 15px;
}

* {
	box-sizing: border-box;
}

/* ID */
#contact {
	border: 1px black solid;
	border-radius: 15px;
	padding: 30px;
	margin-bottom: 50px;
}

#logo {
	margin-bottom: 10px;
	width: 100px;
}

#projet {
	display: flex;
	flex-wrap: wrap;
}


/* CLASSE*/
.separator{
	width: 40px;
	height: 1px;
	margin: 15px auto;
	display: block;
	background: #999999;
}

.contener  {
	width: 80%;
	margin: auto;
}

.projet {
	width: 400px;
	margin: 30px;
	display: inline-block; /* mettre les enlement cote a cote et les redimensionner en bloc */
	background: white;
	padding-bottom: 15px;
	border: 0px black solid;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/*quand la souris va sur mon proejt, afficher ombre designe*/
.projet:hover {
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	transition: 0.8s;
}

.projet img {
	min-width: 400px;
	height: 266px;
}

.projet .date-project {
	font-size: 0.7em;
}

.projet span {
	text-transform: uppercase;
	display: block;
}

.picture {
	width: 400px;
	height: 266px;
	overflow: hidden;
	margin-bottom: 15px;
}









/*POLICES*/
@font-face {
	font-family: 'Awesome Season Personal Use';
	src: url('../src/Awesome Season Personal Use.ttf') format('truetype');
}